
body {
  display: grid;
  margin: 0;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 9fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar maincontent";
}

.sidebar {
 background-color: rgb(49, 162, 207);
 grid-area: sidebar;
 display:flex;
 flex-direction: column;
 font-weight: 800;
 color: white;
 letter-spacing: .25ch;
}

.sidebar > div{ 
 padding-bottom: 30px;
}

.dashboard-title {
  display: flex;
  align-items: flex-start;
  justify-content:flex-start;
  
}
.dashboard-title > h6 {
  font-size:30px;
}

.dashboard-title > * {
  margin: 15px;

}

.dashboard-info > div {
  display: flex;
  margin: 15px 30px;
  align-items: center;
  justify-content:left;

}

.dashboard-info > div > * {
  margin-left: 10px;
}

.header {
  background-color: white;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 4fr;
  grid-template-areas:
  "searchbar name"
  "profile buttons";
  gap: 15px;
}

.profile-pic {
height: 80px;
width: auto;
}

.searchbar {
  align-self: center;
  justify-self: center;
  grid-area: searchbar;
  display: flex;
  width: 100%;
  padding-left: 60px;
}

.searchbar > i {
  justify-self: center;
  align-self: center;
}


.searchbar > input{
 background-color: rgb(238, 238, 238);
 border-radius: 20px;
 border: none;
 height: 35px;
 padding: 10px;
 padding-left: 20px;
 margin-left:  15px;
 flex-grow: 1;
}

.header > .profile-display{
  grid-area: profile;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "profile-picture hithere"
  "profile-picture name";
  padding-left: 30px;
}

.profile-display > img{
  grid-area: profile-picture;
  justify-self: center;
  align-self: center;
}

.profile-display > p {
  grid-area: hithere;
  align-self: flex-end;
  margin-bottom: 2px;
}

.profile-display > h3{
  grid-area: name;
  align-self: flex-start;
  margin-top: 2px;
  font-size:30px;
}

.profile-name{
  grid-area: name;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-name > * {
  padding: 10px;
}

.profile-name > i {
  color: blue;
}

.header > .buttons{
  grid-area: buttons;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons > * {
  margin: 20px;
  /* flex: 1; */
  height: 45px;
  border-radius: 30px;
  border: none;
  background-color: blue;
  font-weight: 900;
  color: white;
  font-size: 17px;
  width: 10ch;
}

.maincontent {
  background-color: lightgray;
  grid-area: maincontent;
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: 2fr 3fr;
  grid-template-areas: 
  "projects announce"
  "projects trending";
}

.projects {
  grid-area: projects;
}

.annoucements {
  grid-area: announce;
}

.trending {
  grid-area: trending;
}